<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1">
	<title>Hopesteel</title>
	<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
	<link href='http://fonts.googleapis.com/css?family=Kite+One|Muli:300' rel='stylesheet' type='text/css'>
	<link href='css/index.css' rel="stylesheet">
</head>

<body>
	<div class="navbar navbar-fixed-top" style="position:fixed">
	<div class="navbar-inner">
		<div class="container-fluid">
			<a class="btn btn-navbar" data-target=".nav-collapse" data-toggle="collapse">
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
			</a>
			<a class="brand" href="#"><img src="img/hopesteel_logo_teal_gold.png" class="brand_logo" /></a>
			<div class="container-fluid nav-collapse">
				<ul class="nav">
					<li><a href="#services">Services</a></li>
					<li><a href="#about">About</a></li>
					<li><a href="#contact">Contact</a></li>
				</ul>
			</div><!--/.nav-collapse -->
		</div>
	</div>
</div>

	<div class="heading-text">

		<h1 class="animated flipInY delay1">Knowledgable.
			<span>Experienced.</span> Certified.</h1>
		<div class="span10 offset1 animated fadeInLeftBig delay2">
			<img src="img/eeg_555.png" class="animated rollIn delay5 jumbotron-img" alt="eeg electrodes" />
		</div>
		<!--/span10-->
		<div class="clear"></div>
	</div>
	<!--/heading text-->

	<div class="container">
		<header class="jumbotron subhead" id="overview">
			<div class="row">
				<div class="span12">
				</div>
			</div>
		</header>
	</div>

	<div class="three">
		<div class="container">
			<div class="row">
				<div class="span4" id="services">
					<i class="fontawesome-icon medium circle-center icon-desktop"></i>
					<h4>Intraoperative Monitoring</h4>
					<p>Physiologists you can rely on. Our professional staff can identify and assist with techinical issues to ensure a successful surgery.</p>
				</div>
				<!--/span4-->
				<div class="span4">
					<i class="fontawesome-icon medium circle-center icon-certificate"></i>
					<h4>Experience</h4>
					<p>We are CNIM certified with years of operating room experience.</p>
				</div>
				<!--/span4-->
				<div class="span4">
					<i class="fontawesome-icon medium circle-center icon-globe"></i>
					<h4>Remote Monitoring</h4>
					<p>We are licensed and certified to assist in interpreting results outside of the operating room in real-time as well as post-operatively.</p>
				</div>
				<!--/span4-->
			</div>
			<!--/row-->
		</div>
		<!--/container-->
	</div>
	<!--/three-->

	<div class="white">
		<div class="container">
			<div class="row">
				<div class="span12">
					<div class="call-out">
						<div class="pull-left">
							<h3>Add one of our highly skilled professionals to your team today.</h3>
						</div>
						<!--/pull left-->
						<div class="pull-right">
							<a class="callout-btn" href="mailto:amanda@hopesteel.io">Contact Us</a>
						</div>
						<!--/pull right-->
						<div class="clear"></div>
					</div>
					<!--/call out-->
				</div>
				<!--/call out-->
			</div>
			<!--/row12-->
		</div>
	</div>
	<div class="white" id="about">
		<div class="container">
			<div class="row span12">
				<div class="row">
					<div class="span10 top_padding">
						<h1>Employee Spotlight</h1>
					</div>
				</div>
				<div class="white">
					<div class="row">
						<div class="span12">
							<div class="container">
								<div class="blue inline-block span8 reduce_margin_right">
									<h2>Amanda Szymanski</h2>
									<h3>President & Director</h3>
									<h4>
										<ul>
											<li>CNIM Certified</li>
											<li>Licensed and Certified Audiologist</li>
											<li>9 years of IOM experience</li>
											<li>Performed over 3,000 cases with some of the best neuro, orthopedic, general and cardiovascular surgeons in the nation</li>
										</ul>
									</h4>
								</div>
								<div class="inline-block">
									<img src="img/amanda.png" class="amanda" alt="amanda szymanski" />
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

	<footer id="contact">
		<div class="footer_block">HopeSteel Neuromonitoring</div>
		<div class="footer_block">Phone : (424) 64 - NEURO</div>
		<div class="footer_block">Email : amanda@hopesteel.io</div>
	</footer>
</body>

</html>
